*{
    margin: 0;
    padding: 0;
}

body{
    background: linear-gradient(#2bbdc2 15%, rgb(189, 91, 91) 100%);
}

#title{
    color: rgb(38, 0, 255);
    text-align: center;
    font-size: 99px;
    font-style: oblique;
    margin: auto;
    background: linear-gradient rgb( 189, 91, 91 )15%,(#2bbdc2) 100%
}

#imagem{
    align-items: center;
    margin: auto;
    display: block;
}

.text{
    color: rgba(221, 218, 7, 0.87);
    text-align:justify;
    font-size: 26px;
}

footer{
    background: linear-gradient(rgb(189, 91, 91) 15%,rgb(107, 174, 228)100%);
    color: rgba(47, 26, 97, 0.945);
    padding: 16px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}